# Phyton's Interactive Console : The Interpreter

In [40]:
print("Hello World!") #As usual with any language we start with the print function

Hello World!

# String
## Create a String

In [1]:
# Single word
print('Hello')

print() # Used to have a line space between two sentences.
# Entire phrase
print("This is also a string")

Hello

This is also a string

# Variable : Store your Value in me

In [2]:
s = "New York"
print(s)
print(type(s))
print(len(s)) # what's the string length

New York
<class 'str'>
8

## String Indexing

In [3]:
s = "Hello World"

In [43]:
# Print the object
print(s)
print()

Hello World

In [44]:
# Show first element (in this case a letter)
print(s[0])
print()

H

In [45]:
# Show the second element (in this case a letter)
print(s[1])

e

## String Concatenation and Repetition

In [47]:
# concatenation (addition)
s1 = 'Hello'
s2 = "World"
print(s1 + " " + s2)

Hello World

In [49]:
# repetition (multiplication)
print("Hello_" * 3)
print("-" * 10)

Hello_Hello_Hello_
----------

## String Slicing & Indexing

In [51]:
s = "Namaste World"

In [52]:
#print sub string
print(s[1]) #This is indexing
print(s[6:11]) #This is known as slicing
print(s[-5:-1])

#test substring membership
print("Wor" in s)

a
e Wor
Worl
True

## Basic Built-in String methods

In [1]:
s = "Hello World"
print(s.upper()) #convert all the element of the string to Uppercase
print(s.lower()) #convert all the element of the string to Lowercase

HELLO WORLD
hello world

## Print Formatting

In [6]:
name = "Einsten"
age = "22"
married = True

In [8]:
print("My name is %s, my age is %s, and it is %s that i am married" % (name, age, married))
print("My name is {}, my age is {}, and it is {} that i am married".format(name, age, married))

My name is Einsten, my age is 22, and it is True that i am married
My name is Einsten, my age is 22, and it is True that i am married

# Numbers

### Basic Arithmetic

In [53]:
#Addition
print(2+1)

#Subraction
print(2-1)

#Multiplication
print(2*2)

#Division
print(3/2)

3
1
4
1.5

### Arithmetic Continued

In [54]:
#Powers
2**3

8

In [55]:
# Order of operations followed in Phyton
2 + 10 * 10 + 3

105

In [56]:
# Can use parenthesis to specify orders
(2+10) * (10+3)

156

## Variable Assigments

In [58]:
#Let's create an object called "a" and assign it the number 5
a = 5

#adding object
a+a

10

In [59]:
#Reassigment
a = 10

#check
a

10